
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <style>
        .white{
            background-color: azure;
            padding:4vh;
        }
        .white:hover{
            background-color: rgb(38, 179, 184);
            padding:4vh;
        }
        .black{
            background-color: black;
            padding:4vh; 
        }
        .black:hover{
            background-color: rgb(38, 179, 184);
            padding:4vh;
        }
        a{
           color:rgba(34, 32, 33, 0.87); 
           padding: 4px;
           
        }
    </style>
    <table class="board" border="1">
        <!-- board row 1-->
        <tr>
            <td class="white"><a>&#9814;</a></td>
            <td class="black"><a>&#9816;</a></td>
            <td class="white"><a>&#9815;</a></td>
            <td class="black"><a>&#9813;</a></td>
            <td class="white"><a>&#9812;</a></td>
            <td class="black"><a>&#9815;</a></td>
            <td class="white"><a>&#9816;</a></td>
            <td class="black"><a>&#9814;</a></td>
           
        </tr>
         <!-- board row 2-->
        <tr>
                
                <td class="black"><a href="">&#9817;</a></td>
                <td class="white"><a href="">&#9817;</a></td>
                <td class="black"><a href="">&#9817;</a></td>
                <td class="white"><a href="">&#9817;</a></td>
                <td class="black"><a href="">&#9817;</a></td>
                <td class="white"><a href="">&#9817;</a></td>
                <td class="black"><a href="">&#9817;</a></td>
                <td class="white"><a href="">&#9817;</a></td>
        </tr>
         <!-- board row 3-->
        <tr>
                <td class="white"></td>
                <td class="black"></td>
                <td class="white"></td>
                <td class="black"></td>
                <td class="white"></td>
                <td class="black"></td>
                <td class="white"></td>
                <td class="black"></td>
               
            </tr>
             <!-- board row 4-->
            <tr>
                    
                    <td class="black"></td>
                    <td class="white"></td>
                    <td class="black"></td>
                    <td class="white"></td>
                    <td class="black"></td>
                    <td class="white"></td>
                    <td class="black"></td>
                    <td class="white"></td>
            </tr>
             <!-- board row 5-->
            <tr>
                    <td class="white"></td>
                    <td class="black"></td>
                    <td class="white"></td>
                    <td class="black"></td>
                    <td class="white"></td>
                    <td class="black"></td>
                    <td class="white"></td>
                    <td class="black"></td>
                   
                </tr>
                 <!-- board row 6-->
                <tr>
                        
                        <td class="black"></td>
                        <td class="white"></td>
                        <td class="black"></td>
                        <td class="white"></td>
                        <td class="black"></td>
                        <td class="white"></td>
                        <td class="black"></td>
                        <td class="white"></td>
                </tr>
                 <!-- board row 7-->
                <tr>
                        <td class="white"><a href="">&#9823;</a></td>
                        <td class="black"><a href="">&#9823;</a></td>
                        <td class="white"><a href="">&#9823;</a></td>
                        <td class="black"><a href="">&#9823;</a></td>
                        <td class="white"><a href="">&#9823;</a></td>
                        <td class="black"><a href="">&#9823;</a></td>
                        <td class="white"><a href="">&#9823;</a></td>
                        <td class="black"><a href="">&#9823;</a></td>
                       
                    </tr>
                     <!-- board row 8-->
                    <tr>
                            
                            <td class="black"><a href="">&#9820;</a></td>
                            <td class="white"><a href="">&#9822;</a></td>
                            <td class="black"><a href="">&#9821;</a></td>
                            <td class="white"><a href="">&#9818;</a></td>
                            <td class="black"><a href="">&#9819;</a></td>
                            <td class="white"><a href="">&#9821;</a></td>
                            <td class="black"><a href="">&#9822;</a></td>
                            <td class="white"><a href="">&#9820;</a></td>
                    </tr>
                   
    </table>
    <p>{{joke}}</p>
</body>
</html>